.bgColor {
    background-color: rgb(228, 221, 208);
}

/*.contentBorder {
    border: 5px solid rgb(3, 161, 24);
    border-radius: 10px;
}*/

.inputContainer {
    background-color: rgb(4, 140, 158);
    overflow: hidden;
    height: 220px;
    border: 3px solid #333;
    border-radius: 10px;
}

.inputContainer h1 {
    color: rgb(218, 218, 23);
    margin-left: 40px;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:overline;
}

.textInputStyle {
    width: 500px;
    height: 30px;
    border: 3px solid #333;
    border-radius: 10px;
    margin-left: 30%;
}

.dateInputStyle {
    height: 30px;
    border: 3px solid #333;
    border-radius: 10px;
}

button {
    display: flex;
    width: 120px;
    justify-content: center;
    margin-left: 45%;
    margin-top: 15px;
    border: 3px solid #333;
    border-radius: 10px;
    background-color: rgb(182, 176, 176);
}

button:hover {
    background-color: rgb(218, 218, 23);
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    background-color: rgb(170, 31, 61);
    overflow: hidden;
    margin-top: 30px;
    height: auto;
    border: 3px solid #333;
    border-radius: 10px;
    opacity: 90%;
}

.weatherDataStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.removeBtnStyle {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 60%;
}

.removeBtnStyle:hover {
    opacity: 100%;
}

h1 {
  color: rgb(70, 188, 204);
  margin-left: 40px;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}



